<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="简汇,商城,企业管理" />
		<meta name="description" content="简汇软件创作平台，极速上线，随需而变。" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="cleartype" content="on" />
		<meta name="referrer" content="always" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="shortcut icon" type="image/x-icon" href="/wshop/static/favicon.ico" />
		<title>已完成的订单</title>
		<link class="ui" rel="stylesheet" href="../../static/css/min.css" />
		<link class="ui" rel="stylesheet" href="../../static/css/me.css" />
		<style type="text/css">
          .shop-goods .top-title{
				margin-bottom:20px;
			}
			.fa-bookmark,.fa-truck{
				padding-right:4px;
			}
			.panel-heading{
				padding-left:0;
			}
			.goods-list li{
				margin-bottom:10px;
			}
			.goods-list li:last-child{
				margin-bottom:0;
			}
			.goods-list{
				padding:0;
			}			
		</style>
	</head>

	<body>
		<div id="wrapper" style="display:block">
			<div class=" swiper-container build container-fluid">
				<div class="finished">
					<div class=" head-title row">
						<div class="col-xs-6"><i class="fa fa-bookmark"></i><span th:text="${order.code}">123456789</span></div>
						<div class="col-xs-6"><i class="fa fa-calendar-check-o"></i><span th:text="${order.bizDateStr}">123456789</span></div>
					</div>
					<!--收货地址-->
					<div class="default row">
						<div class="col-xs-10">
							<div class="col-xs-6 user"><i class="fa fa-user" id="orderAddrName" th:text="${order.addr==null?'':order.addr.name}"></i></div>
							<div class="col-xs-6 user-phone"><i class="fa fa-phone" id="orderAddrPhone" th:text="${order.addr==null?'':order.addr.phone}"></i>212</div>
							<div class="getaddress col-xs-12"><i class="fa fa-paper-plane-o"></i><span id="orderAddrDetail" th:text="${order.addr==null?'':order.addr.detail}">广东on</span></div>
						</div>
						<div class="col-xs-2 next-go receipt">已收货</div>
					</div>
					<!--商品总价-->
					<div class="commlist row top-list">
						<div class="col-xs-4 item">
							<div>商品</div>
							<div th:text="${#numbers.formatDecimal(order.net,1,2)}" class="text-success">23323</div>
						</div>
						<div class="col-xs-4 item">
							<div>运费</div>
							<div th:text="${#numbers.formatDecimal(order.freight,1,2)}" class="text-success">2333</div>
						</div>
						<div class="col-xs-4 item discount ">
							<div>优惠</div>
							<div class="num" style="color:#FF0000" id="discountText" th:text="${'-'+#numbers.formatDecimal(order.discount,1,2)}">-0.00</div>
						</div>
						<div class="bottom-price text-center" id="totalText" th:text="${'总共'+order.itemTotal+'件/'+order.itemCount+'种商品，实付￥'+#numbers.formatDecimal(order.total,1,2)+'。'}">总共12件商品2000元</div>
					</div>
					<!--/*商品清单*/-->
					<div class="detailedlist panel panel-defaul">
						<div class=" panel-heading"><i class="fa fa-shopping-cart"></i>商品清单</div>
						<ul class="goods-list panel-body" th:each="item:${order.items}">
							<li class="good-shop good-finished row">
								<a class="col-xs-5 show-img item" th:href="${'/mshop/goods/info/'+item.itemId}" href="/mshop/templates/goods/iteminfo.html">
									<img th:src="${item.itemImgUrl}" src="../../static/images/ad1.jpg">
								</a>
								<div class="col-xs-7 item">
									<div class="show-title" th:text="${item.itemName}">商品标题</div>
									<div class="show-price row">
										<div class="col-xs-6 itb"><span th:text="${'￥' + #numbers.formatDecimal(item.price,1,2)}"></span></div>
										<div class="col-xs-5 itb comment goready text-center" th:if="${!item.commented}" th:href="${'/mshop/goods/comment/'+item.id}">去评论</div>
									</div>
									<div class="number row">
										<div class="col-xs-6 itb" th:text="${#numbers.formatDecimal(item.qty,1,0) + '&nbsp;件'}">5件</div>
										<div class="col-xs-5 itb comment ready text-center" th:if="${item.commented}" th:href="${'/mshop/goods/comment/'+item.id}">已评论</div>
									</div>
								</div>
							</li>
							<li class="good-shop good-finished row">
								<a class="col-xs-5 show-img item" th:href="${'/mshop/goods/info/'+item.itemId}" href="/mshop/templates/goods/iteminfo.html">
									<img th:src="${item.itemImgUrl}" src="../../static/images/ad1.jpg">
								</a>
								<div class="col-xs-7 item">
									<div class="show-title" th:text="${item.itemName}">商品标题</div>
									<div class="show-price row">
										<div class="col-xs-6 itb"><span th:text="${'￥' + #numbers.formatDecimal(item.price,1,2)}"></span></div>
										<div class="col-xs-5 itb comment goready text-center" th:if="${!item.commented}" th:href="${'/mshop/goods/comment/'+item.id}">去评论</div>
									</div>
									<div class="number row">
										<div class="col-xs-6 itb" th:text="${#numbers.formatDecimal(item.qty,1,0) + '&nbsp;件'}">5件</div>
										<div class="col-xs-5 itb comment ready text-center" th:if="${item.commented}" th:href="${'/mshop/goods/comment/'+item.id}">已评论</div>
									</div>
								</div>
							</li>
							<li class="good-shop good-finished row">
								<a class="col-xs-5 show-img item" th:href="${'/mshop/goods/info/'+item.itemId}" href="/mshop/templates/goods/iteminfo.html">
									<img th:src="${item.itemImgUrl}" src="../../static/images/ad1.jpg">
								</a>
								<div class="col-xs-7 item">
									<div class="show-title" th:text="${item.itemName}">商品标题</div>
									<div class="show-price row">
										<div class="col-xs-6 itb"><span th:text="${'￥' + #numbers.formatDecimal(item.price,1,2)}"></span></div>
										<div class="col-xs-5 itb comment goready text-center" th:if="${!item.commented}" th:href="${'/mshop/goods/comment/'+item.id}">去评论</div>
									</div>
									<div class="number row">
										<div class="col-xs-6 itb" th:text="${#numbers.formatDecimal(item.qty,1,0) + '&nbsp;件'}">5件</div>
										<div class="col-xs-5 itb comment ready text-center" th:if="${item.commented}" th:href="${'/mshop/goods/comment/'+item.id}">已评论</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!--<script type="text/javascript" src="/wshop/static/js/jquery.min.js"></script>
				<script type="text/javascript" src="/wshop/static/js/min.js"></script>-->
				<script type="text/javascript">
					$('.menu .item').tab();
				</script>
	</body>

</html>