<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="keywords" content="简汇,商城,企业管理" />
<meta name="description" content="简汇软件创作平台，极速上线，随需而变。" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="cleartype" content="on" />
<meta name="referrer" content="always" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="shortcut icon" type="image/x-icon" href="/wshop/static/favicon.ico" />
<title>费用记录</title>
<link class="ui" rel="stylesheet" href="../../static/css/min.css" />
<link class="ui" rel="stylesheet" href="../../static/css/me.css" />
<style type="text/css">
	/*消费记录*/

.consumption table {
	margin-top: 10px;
	border: 1px solid #ddd;
}

.consumption table>thead th {
	border-radius: 4px;
	border: 1px solid #ddd;
	color: #584a4a;
}


/*消费记录*/
</style>
</head>
<body>
     <div id="wrapper">
     <div class="consumption container-fluid">
              <!-- 消费列表 -->
                    <table class="table table-striped">
	                 <thead>
	                     <tr>
	                       <th>客户名称</th>
	                       <th>项目名称</th>
	                       <th>消费金额(￥)</th>
	                     </tr>
	                 </thead>
	                 	<tbody data-bind="foreach:datas" class="text-center">
	                    <tr>
	                      <td data-bind="text:target.name"  >1</td>
	                      <td data-bind="text:item.name" >2</td>  
	                      <td data-bind="text:baseBalance*(-1)+'.00'">3</td> 
	                    </tr>	                    
	                 </tbody> 
                    </table>
              </div>            
              <!-- 消费列表 -->                      
     
       <!-- 底部菜单 -->
        <div class="footer">
				<nav class="nav-justified btn-group-justified">
					<a th:href="@{/mshop/index}" href="/mshop/templates/index.html" class="afc-default btn">
						<div class="show-nav"><i class="fa fa-home"></i></div>
						<div class="show-p">首页</div>
					</a>
					<a th:href="@{/mshop/goods/category}" href="/mshop/templates/goods/category.html" class="btn afc-default ">
						<div class="show-nav"> <i class="fa fa-bars"></i> </div>
						<div class="show-p">分类</div>
					</a>
					<a th:href="@{/mshop/cart/list}" href="/mshop/templates/cart.html" class="btn afc-default">
						<div class="show-nav"><i class="fa fa-shopping-cart"></i></div>
						<div class="show-p">购物车</div>
					</a>
					<a th:href="@{/mshop/user/home}" href="/mshop/templates/user/home.html" class="btn afc-active">
						<div class="show-nav"><i class="fa fa-user-o "></i></div>
						<div class="show-p">我</div>
					</a>
				</nav>
		</div>
     </div>
     
     	<form name="filterForm" id="filterForm" action="">
			<input type="hidden" id="startIndex" name="startIndex" value="0" />
			<input type="hidden" id="fetchSize" name="fetchSize" value="5" />
		</form>

		<!--/*脚本*/-->
		<script type="text/javascript" src="/wshop/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/wshop/static/js/min.js"></script>

		<script type="text/javascript" src="/wshop/static/js/swiper.min.js"></script>

		<script type="text/javascript" src="/wshop/static/js/dropload/zepto.min.js"></script>
		<script type="text/javascript" src="/wshop/static/js/dropload/dropload.min.js"></script>
		<script type="text/javascript" src="/wshop/static/js/knockout-min.js"></script>
		<script type="text/javascript" src="/wshop/static/js/view/user.balance.record.js"></script>

		<script type="text/javascript">
			 $('.menu .item').tab();
			//页面传递过来的子节点的个数
		 	var count = $("#count").val();
			new Swiper('.swiper-container', {
				loop: true,
				slidesPerView: count,
			})
		</script>
</body>
</html>